[Unit]
Description=__APP__ NodeJS restarter
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart __APP__-nodejs.service

[Install]
WantedBy=multi-user.target
